
<div class="container">

  <div class="border rounded-lg shadow-md p-6 bg-white">
    <!-- Cantidad de Personas -->
    <div *ngIf="pasoActual === 1">

      <h2 class="text-lg font-semibold leading-6 text-gray-900 mb-4">Selecciona la cantidad de personas</h2>
      <div class="flex flex-wrap gap-4">
        <button *ngFor="let num of personas" (click)="seleccionarPersonas(num)"
                [class.selected]="num === cantidadSeleccionada"
                class="circle-button">
          {{ num }}
        </button>
      </div>
      <div class="flex justify-between mt-6">
        <button class="confirmar-button" (click)="avanzarPaso()">Siguiente</button>
      </div>
    </div>

    <!-- Seleccionar Fecha -->
    <div *ngIf="pasoActual === 2">
      <h2 class="text-lg font-semibold leading-6 text-gray-900 mb-4">Selecciona la fecha de la reserva</h2>
      <mat-card class="demo-inline-calendar-card">
        <mat-calendar [(selected)]="fechaSeleccionada"></mat-calendar>
      </mat-card>
      <div class="flex justify-between mt-6">
        <button class="cancelar-button" (click)="retrocederPaso()">Atrás</button>
        <button class="confirmar-button" (click)="avanzarPaso()">Siguiente</button>
      </div>
    </div>

    <!-- Horario de Reserva -->
    <div *ngIf="pasoActual === 3">
      <h2 class="text-lg font-semibold leading-6 text-gray-900 mb-4">Selecciona el tipo de comida</h2>
      <div class="flex items-center space-x-4">
        <button (click)="seleccionarTipoComida('almuerzo')"
                [class.selected]="tipoComidaSeleccionada === 'almuerzo'"
                class="tipo-comida-button">Almuerzo</button>
        <button (click)="seleccionarTipoComida('cena')"
                [class.selected]="tipoComidaSeleccionada === 'cena'"
                class="tipo-comida-button">Cena</button>
      </div>
      <!-- Horarios según tipo de comida -->
      <div *ngIf="tipoComidaSeleccionada" class="mt-4">
        <h3 class="text-lg font-semibold leading-6 text-gray-900 mb-4">
          Horarios disponibles para {{ tipoComidaSeleccionada }}
        </h3>
        <div class="flex items-center space-x-4">
          <button *ngFor="let horario of tipoComidaSeleccionada === 'almuerzo' ? horariosAlmuerzo : horariosCena"
                  (click)="seleccionarHorario(horario)"
                  [class.selected]="horarioSeleccionado === horario"
                  class="horario-button">
            {{ horario }}
          </button>
        </div>
      </div>
      <div class="flex justify-between mt-6">
        <button class="cancelar-button" (click)="retrocederPaso()">Atrás</button>
        <button class="confirmar-button" (click)="avanzarPaso()">Siguiente</button>
      </div>
    </div>


    <!-- Datos personales -->
    <div  *ngIf="pasoActual === 4">
      <h2 class="text-lg font-semibold leading-6 text-gray-900 mb-4">Datos de Contacto</h2>
      <form [formGroup]="nameFormGroup">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" formControlName="nameCtrl" required>
        </mat-form-field>
      </form>
      <form [formGroup]="apellidosFormGroup">
        <mat-form-field>
          <mat-label>Apellidos</mat-label>
          <input matInput placeholder="Apellidos" formControlName="apellidosCtrl" required>
        </mat-form-field>
      </form>
      <form [formGroup]="emailFormGroup">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="emailCtrl" placeholder="Email" required>
        </mat-form-field>
      </form>
      <form [formGroup]="telefonoFormGroup">
        <mat-form-field>
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="telefonoCtrl" placeholder="Ex. 12345678" required>
        </mat-form-field>
      </form>
      <form [formGroup]="comentarioFormGroup">
        <mat-form-field>
          <mat-label>Comentarios</mat-label>
          <input matInput formControlName="comentarioCtrl" placeholder="Comentarios">
        </mat-form-field>
      </form>
      <div class="button-container">
        <button class="cancelar-button" (click)="retrocederPaso()">Atrás</button>
        <button class="confirmar-button" (click)="avanzarPaso()">Siguiente</button>
      </div>
    </div>

    <!-- Confirmar Reserva -->
    <div *ngIf="pasoActual === 5">
      <h2 class="text-lg font-semibold leading-6 text-gray-900 mb-4">Confirmar Reserva</h2>
      <p class="mb-2"><strong>Personas:</strong> {{ cantidadSeleccionada }}</p>
      <p class="mb-2"><strong>Fecha:</strong> {{ fechaSeleccionada | date: 'fullDate' }}</p>
      <p class="mb-2"><strong>Tipo de Comida:</strong> {{ tipoComidaSeleccionada }}</p>
      <p class="mb-2"><strong>Horario:</strong> {{ horarioSeleccionado }}</p>
      <p class="mb-2"><strong>Nombre:</strong> {{ nameFormGroup.get('nameCtrl')?.value }}</p>
      <p class="mb-2"><strong>Apellidos:</strong> {{ apellidosFormGroup.get('apellidosCtrl')?.value }}</p>
      <p class="mb-2"><strong>Email:</strong> {{ emailFormGroup.get('emailCtrl')?.value }}</p>
      <p class="mb-2"><strong>Teléfono:</strong> {{ telefonoFormGroup.get('telefonoCtrl')?.value }}</p>
      <p class="mb-4"><strong>Comentarios:</strong> {{ comentarioFormGroup.get('comentarioCtrl')?.value }}</p>

      <div class="button-container">
        <button class="cancelar-button" (click)="reiniciarFormulario()">Cancelar</button>
        <button class="confirmar-button" (click)="adicionarReserva()">Confirmar Reserva</button>
      </div>
    </div>
  </div>
</div>

