
<div class="container">

  <div class="border rounded-lg shadow-md p-6 bg-white">
    <!-- < class="border rounded-lg shadow-md p-6" style="background-color: rgba(255, 255, 255, 0.8);"> PARA BAJARLE LA OPACIDAD AL CARD, EN PROCESO-->

    <!-- Cantidad de Personas -->
    <div *ngIf="pasoActual === 1">

      <h2 class="text-lg font-semibold leading-6 text-gray-900 mb-4">Selecciona la cantidad de personas</h2>
      <div class="flex flex-wrap gap-4 justify-center">
        <button *ngFor="let num of personas" (click)="seleccionarPersonas(num)"
                [class.selected]="num === cantidadSeleccionada"
                class="circle-button">
          {{ num }}
        </button>
      </div>

      <div class="flex flex-col items-center justify-center mt-6">
        <div class="flex items-center justify-center">
          <button (click)="decrementarPersonas()" class="circle-button">-</button>

          <input type="number" [(ngModel)]="cantidadSeleccionada"
           class="mx-4 w-20 text-center border rounded no-arrows"
           (input)="actualizarCantidad()" />

          <button (click)="incrementarPersonas()" class="circle-button">+</button>
        </div>
        <div class="mt-6">
          <button class="confirmar-button" (click)="avanzarPaso()">Siguiente</button>
        </div>
      </div>

    </div>

    <!-- Seleccionar Fecha -->
    <div *ngIf="pasoActual === 2">
      <h2 class="text-lg font-semibold leading-6 text-gray-900 mb-4">Selecciona la fecha de la reserva</h2>
      <mat-card class="demo-inline-calendar-card">
        <mat-calendar [(selected)]="reservation_date"></mat-calendar>
      </mat-card>
      <div class="flex justify-between mt-6">
        <button class="cancelar-button" (click)="retrocederPaso()">Atrás</button>
        <button class="confirmar-button" (click)="avanzarPaso()">Siguiente</button>
      </div>
    </div>

    <!-- Horario de Reserva -->
    <div *ngIf="pasoActual === 3">
      <h2 class="text-lg font-semibold leading-6 text-gray-900 mb-4">Selecciona el tipo de comida</h2>
      <div class="flex items-center space-x-4">
        <button (click)="seleccionarTipoComida('almuerzo')"
                [class.selected]="tipo_comida === 'almuerzo'"
                class="tipo-comida-button">Almuerzo</button>
        <button (click)="seleccionarTipoComida('cena')"
                [class.selected]="tipo_comida === 'cena'"
                class="tipo-comida-button">Cena</button>
      </div>

      <!-- Horarios según tipo de comida -->
      <div *ngIf="tipo_comida" class="mt-4">
        <h3 class="text-lg font-semibold leading-6 text-gray-900 mb-4">
          Horarios disponibles para {{ tipo_comida }}
        </h3>
        <div class="flex items-center space-x-4">
          <button *ngFor="let horario of tipo_comida === 'almuerzo' ? horariosAlmuerzo : horariosCena"
                  (click)="seleccionarHorario(horario)"
                  [class.selected]="reservation_time === horario"
                  class="horario-button">
            {{ horario }}
          </button>
        </div>
      </div>
      <div class="flex justify-between mt-6">
        <button class="cancelar-button" (click)="retrocederPaso()">Atrás</button>
        <button class="confirmar-button" (click)="avanzarPaso()">Siguiente</button>
      </div>
    </div>


    <!-- Datos personales -->
    <div  *ngIf="pasoActual === 4">
      <h2 class="text-lg font-semibold leading-6 text-gray-900 mb-4">Datos de Contacto</h2>
      <form [formGroup]="nameFormGroup">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" formControlName="first_name" required>
        </mat-form-field>
      </form>
      <form [formGroup]="apellidosFormGroup">
        <mat-form-field>
          <mat-label>Apellidos</mat-label>
          <input matInput placeholder="Apellidos" formControlName="last_name" required>
        </mat-form-field>
      </form>
      <form [formGroup]="emailFormGroup">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Email" required>
        </mat-form-field>
      </form>
      <form [formGroup]="telefonoFormGroup">
        <mat-form-field>
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="phone_number" placeholder="Ex. 12345678" required>
        </mat-form-field>
      </form>
      <form [formGroup]="comentarioFormGroup">
        <mat-form-field>
          <mat-label>Comentarios</mat-label>
          <input matInput formControlName="special_requests" placeholder="Comentarios">
        </mat-form-field>
      </form>
      <div class="button-container">
        <button class="cancelar-button" (click)="retrocederPaso()">Atrás</button>
        <button class="confirmar-button" (click)="avanzarPaso()">Siguiente</button>
      </div>
    </div>

    <!-- Pasarela de pago -->
    <div *ngIf="pasoActual === 5">
      <h2 class="text-lg font-semibold leading-6 text-gray-900 mb-4">Pasarela de Pago</h2>
      <p class="mb-4"><strong>Total a pagar:</strong> ${{ calcularTotal() }}</p>

      <form [formGroup]="paymentForm">
        <!-- Tipo de Tarjeta -->
        <div class="payment-container">
          <h2 class="payment-title">Verificar</h2>
          <p class="payment-subtitle">Introducir datos de pago</p>

        <!-- Número de tarjeta -->
        <div>
          <label for="cardNumber" class="payment-label">Número de la tarjeta</label>
          <input type="text" formControlName="cardNumber" id="cardNumber" class="payment-input" placeholder="1234 5678 9012 3456" />
        </div>

        <!-- Fecha de vencimiento y CVC -->
        <div class="card-type-container">
          <div>
            <label for="expiryDate" class="payment-label">fecha de vencimiento</label>
            <input type="text" formControlName="expiryDate" id="expiryDate" class="payment-input" placeholder="MM/YY" />
          </div>
          <div>
            <label for="cvc" class="payment-label">CVC</label>
            <input type="text" formControlName="cvv" id="cvc" class="payment-input" placeholder="123" />
          </div>
        </div>

         <div class="card-type-container">
          <!-- Nombre en la tarjeta -->
         <div>
          <label for="cardHolderName" class="payment-label">Nombre del titular</label>
          <input type="text" formControlName="cardHolderName" id="cardHolderName" class="payment-input" placeholder="John Doe" />
        </div>

        <!-- Nombre del banco -->
        <div>
          <label for="bankName" class="payment-label">Nombre del banco</label>
          <input type="text" formControlName="bankName" id="bankName" class="payment-input" placeholder="Nombre del banco" required />
        </div>
         </div>

          <!-- Email -->
          <div>
            <label for="email" class="payment-label">Email</label>
            <input type="email" id="email" class="payment-input" placeholder="you@example.com" />
          </div>

          <!-- Botón de pago -->
          <button  class="payment-button" (click)="procesarPago()">Pagar ahora</button>

        </div>
      </form>


    </div>


    <!-- Confirmar Reserva -->
    <div *ngIf="pasoActual === 6">
      <h2 class="text-lg font-semibold leading-6 text-gray-900 mb-4">Confirmar Reserva</h2>
      <p class="mb-2"><strong>Personas:</strong> {{ cantidadSeleccionada }}</p>
      <p class="mb-2"><strong>Fecha:</strong> {{ reservation_date | date: 'fullDate' }}</p>
      <p class="mb-2"><strong>Tipo de Comida:</strong> {{ tipo_comida }}</p>
      <p class="mb-2"><strong>Horario:</strong> {{ reservation_time }}</p>
      <p class="mb-2"><strong>Nombre:</strong> {{ nameFormGroup.get('first_name')?.value }}</p>
      <p class="mb-2"><strong>Apellidos:</strong> {{ apellidosFormGroup.get('last_name')?.value }}</p>
      <p class="mb-2"><strong>Email:</strong> {{ emailFormGroup.get('email')?.value }}</p>
      <p class="mb-2"><strong>Teléfono:</strong> {{ telefonoFormGroup.get('phone_number')?.value }}</p>
      <p class="mb-4"><strong>Comentarios:</strong> {{ comentarioFormGroup.get('special_requests')?.value }}</p>

      <div class="button-container">
        <button class="cancelar-button" (click)="reiniciarFormulario()">Cancelar</button>
        <button class="confirmar-button" (click)="adicionarReserva()">Confirmar Reserva</button>
      </div>
    </div>

    <!-- Reserva finalizada -->
    <div *ngIf="pasoActual === 7" class="reservation-container">
      <h2 class="reservation-title">Datos de Reserva</h2>
      <div class="reservation-details">
        <p>
          Muchas gracias <span class="reservation-label">{{ datosReserva.first_name }}</span> &nbsp; <span class="reservation-label">{{ datosReserva.last_name }}</span>, su reserva del dia <span class="reservation-label">{{ datosReserva.reservation_date | date: 'fullDate' }}</span>
          a las <span class="reservation-label">{{ datosReserva.reservation_time }}</span> a sido confirmada. Su código es: <span class="reservation-label">{{ datosReserva.codigo_reserva }}</span>
        </p>

        <!-- &nbsp; inserta un espacio a la fuerza -->
      </div>
      <div class="button-container">
        <button class="cancelar-button" (click)="reiniciarFormulario()">Inicio</button>
      </div>
    </div>
  </div>
</div>





