<!-- @switch (stepperOrientation | async) {
  @case ('horizontal') {
    <div>Make your screen smaller to see a vertical stepper</div>
  }
  @case ('vertical') {
    <div>Make your screen larger to see a horizontal stepper</div>
  }
} -->


<!-- <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
  <div class="card">

    <p>en proceso</p>

  </div>
</div> -->


<!-- <mat-stepper
  class="example-stepper"
  [orientation]="(stepperOrientation | async)!">
  <mat-step [stepControl]="nameFormGroup" label="Nombre">
    <form [formGroup]="nameFormGroup">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre y Apellidos" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="emailFormGroup" label="Email">
    <form [formGroup]="emailFormGroup">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Email"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="emailFormGroup" label="Teléfono">
    <form [formGroup]="emailFormGroup">
      <mat-form-field>
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="thirdCtrl" placeholder="Ex. 12345678" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Listo</ng-template>
    <p>Datos enviados.</p>
    <div>
      <button mat-button (click)="cerrar()" matStepperPrevious>Salir</button>
    </div>
  </mat-step>
</mat-stepper> -->



<!-- <p>SEGUNDA OPCION</p> -->



<!-- <mat-tab-group class="border rounded-lg shadow-md"> -->


  <!-- Cantidad de Personas -->
  <!-- <mat-tab label="Cantidad de Personas">
    <div class="p-6 space-y-4 bg-white">
      <div>
        <label class="block text-sm font-medium leading-6 text-gray-900 mb-2">Selecciona la cantidad de personas</label>
        <div class="flex flex-wrap gap-4">

          <button *ngFor="let num of personas" (click)="seleccionarPersonas(num)"
                  [class.selected]="num === cantidadSeleccionada"
                  class="circle-button">
            {{ num }}
          </button>
        </div>
      </div>
    </div>
  </mat-tab> -->


  <!-- Seleccionar Fecha -->
  <!-- <mat-tab label="Fecha de Reserva">
    <div class="p-6 space-y-4 bg-white">
      <div>
        <label for="fecha" class="block text-sm font-medium leading-6 text-gray-900 mb-2">Selecciona la fecha de la reserva</label>
        <div class="flex items-center space-x-4">


          <div class="p-6 space-y-4 bg-white">
            <div>
              <mat-card class="demo-inline-calendar-card">
                <mat-calendar [(selected)]="fechaSeleccionada"></mat-calendar>

              </mat-card>

            </div>
          </div>

        </div>
      </div>
    </div>
  </mat-tab> -->



  <!-- Horario de Reserva -->
  <!-- <mat-tab label="Horario de Reserva">
    <div class="p-6 space-y-4 bg-white">
      <div>
        <label class="block text-sm font-medium leading-6 text-gray-900 mb-2">Selecciona el tipo de comida</label> -->
        <!-- Opciones de selección de almuerzo o cena -->
        <!-- <div class="flex items-center space-x-4">
          <button (click)="seleccionarTipoComida('almuerzo')"
                  [class.selected]="tipoComidaSeleccionada === 'almuerzo'"
                  class="tipo-comida-button">Almuerzo</button>
          <button (click)="seleccionarTipoComida('cena')"
                  [class.selected]="tipoComidaSeleccionada === 'cena'"
                  class="tipo-comida-button">Cena</button>
        </div>
      </div> -->
      <!-- Opciones de horarios según el tipo de comida seleccionado -->
      <!-- <div *ngIf="tipoComidaSeleccionada === 'almuerzo'" class="mt-4">
        <label class="block text-sm font-medium leading-6 text-gray-900 mb-2">Horarios disponibles para almuerzo</label>
        <div class="flex items-center space-x-4">
          <button *ngFor="let horario of horariosAlmuerzo"
                  (click)="seleccionarHorario(horario)"
                  [class.selected]="horarioSeleccionado === horario"
                  class="horario-button">
            {{ horario }}
          </button>
        </div>
      </div> -->
      <!-- <div *ngIf="tipoComidaSeleccionada === 'cena'" class="mt-4">
        <label class="block text-sm font-medium leading-6 text-gray-900 mb-2">Horarios disponibles para cena</label>
        <div class="flex items-center space-x-4">
          <button *ngFor="let horario of horariosCena"
                  (click)="seleccionarHorario(horario)"
                  [class.selected]="horarioSeleccionado === horario"
                  class="horario-button">
            {{ horario }}
          </button>
        </div>
      </div>
    </div>
  </mat-tab> -->



  <!-- Datos personales -->
  <!-- <mat-tab label="Datos de Contacto">
    <div class="p-6 space-y-4 bg-white">
      <form [formGroup]="nameFormGroup">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" formControlName="nameCtrl" required>
        </mat-form-field>

      </form>

      <div>
        <form [formGroup]="apellidosFormGroup">
          <mat-form-field>
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="Apellidos" formControlName="apellidosCtrl" required>
          </mat-form-field>

        </form>
      </div>

      <form [formGroup]="emailFormGroup">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="emailCtrl" placeholder="Email"
                 required>
        </mat-form-field>

      </form>


        <form [formGroup]="telefonoFormGroup">
          <mat-form-field>
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="telefonoCtrl" placeholder="Ex. 12345678" required>
          </mat-form-field>

        </form>

        <form [formGroup]="comentarioFormGroup">
          <mat-form-field>
            <mat-label>Comentarios</mat-label>
            <input matInput formControlName="comentarioCtrl" placeholder="Aquí puede expresar para cuantas personas es la mesa y si tiene niños incluídos">
          </mat-form-field>

        </form>

    </div>

  </mat-tab> -->



  <!-- <mat-tab label="Confirmar Reserva">
    <div class="p-6 space-y-4 bg-white"> -->
      <!-- Resumen de la reserva -->
      <!-- <div class="space-y-2">
        <h3 class="text-lg font-semibold leading-6 text-gray-900 mb-4">Revisa los detalles de tu reserva</h3>
        <p><strong>Nombre:</strong> {{ nameFormGroup.get('nameCtrl')?.value }}</p>
      <p><strong>Apellidos:</strong> {{ apellidosFormGroup.get('apellidosCtrl')?.value }}</p>
      <p><strong>Email:</strong> {{ emailFormGroup.get('emailCtrl')?.value }}</p>
      <p><strong>Teléfono:</strong> {{ telefonoFormGroup.get('telefonoCtrl')?.value }}</p>
      <p><strong>Cantidad de Personas:</strong> {{ cantidadSeleccionada }}</p>
      <p><strong>Fecha de Reserva:</strong> {{ fechaSeleccionada | date }}</p>
      <p><strong>Tipo de Comida:</strong> {{ tipoComidaSeleccionada }}</p>
      <p><strong>Horario Seleccionado:</strong> {{ horarioSeleccionado }}</p>
      <p><strong>Comentarios:</strong> {{ comentarioFormGroup.get('comentarioCtrl')?.value }}</p>

      </div> -->

      <!-- Botones de confirmación y cancelación -->
      <!-- <div class="flex items-center justify-between mt-6"> -->
        <!-- Botón para cancelar -->
        <!-- <button (click)="reiniciarFormulario()" class="cancelar-button">
          Cancelar
        </button> -->
        <!-- Botón para confirmar -->
        <!-- <button (click)="adicionarReserva()" class="confirmar-button">
          Confirmar Reserva
        </button>
      </div>
    </div>
  </mat-tab> -->


<!-- </mat-tab-group> -->


<!-- <strong>Opcion 3</strong> -->

<!-- <div class="flex min-h-full flex-col justify-center">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">

    <h2 class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Generar Reserva </h2>
  </div>
</div> -->

<div class="container">

  <div class="border rounded-lg shadow-md p-6 bg-white">
    <!-- Cantidad de Personas -->
    <div *ngIf="pasoActual === 1">

      <h2 class="text-lg font-semibold leading-6 text-gray-900 mb-4">Selecciona la cantidad de personas</h2>
      <div class="flex flex-wrap gap-4">
        <button *ngFor="let num of personas" (click)="seleccionarPersonas(num)"
                [class.selected]="num === cantidadSeleccionada"
                class="circle-button">
          {{ num }}
        </button>
      </div>
      <div class="flex justify-between mt-6">
        <button class="confirmar-button" (click)="avanzarPaso()">Siguiente</button>
      </div>
    </div>

    <!-- Seleccionar Fecha -->
    <div *ngIf="pasoActual === 2">
      <h2 class="text-lg font-semibold leading-6 text-gray-900 mb-4">Selecciona la fecha de la reserva</h2>
      <mat-card class="demo-inline-calendar-card">
        <mat-calendar [(selected)]="fechaSeleccionada"></mat-calendar>
      </mat-card>
      <div class="flex justify-between mt-6">
        <button class="cancelar-button" (click)="retrocederPaso()">Atrás</button>
        <button class="confirmar-button" (click)="avanzarPaso()">Siguiente</button>
      </div>
    </div>

    <!-- Horario de Reserva -->
    <div *ngIf="pasoActual === 3">
      <h2 class="text-lg font-semibold leading-6 text-gray-900 mb-4">Selecciona el tipo de comida</h2>
      <div class="flex items-center space-x-4">
        <button (click)="seleccionarTipoComida('almuerzo')"
                [class.selected]="tipoComidaSeleccionada === 'almuerzo'"
                class="tipo-comida-button">Almuerzo</button>
        <button (click)="seleccionarTipoComida('cena')"
                [class.selected]="tipoComidaSeleccionada === 'cena'"
                class="tipo-comida-button">Cena</button>
      </div>
      <!-- Horarios según tipo de comida -->
      <div *ngIf="tipoComidaSeleccionada" class="mt-4">
        <h3 class="text-lg font-semibold leading-6 text-gray-900 mb-4">
          Horarios disponibles para {{ tipoComidaSeleccionada }}
        </h3>
        <div class="flex items-center space-x-4">
          <button *ngFor="let horario of tipoComidaSeleccionada === 'almuerzo' ? horariosAlmuerzo : horariosCena"
                  (click)="seleccionarHorario(horario)"
                  [class.selected]="horarioSeleccionado === horario"
                  class="horario-button">
            {{ horario }}
          </button>
        </div>
      </div>
      <div class="flex justify-between mt-6">
        <button class="cancelar-button" (click)="retrocederPaso()">Atrás</button>
        <button class="confirmar-button" (click)="avanzarPaso()">Siguiente</button>
      </div>
    </div>

    <!-- Datos personales -->
    <div  *ngIf="pasoActual === 4">
      <h2 class="text-lg font-semibold leading-6 text-gray-900 mb-4">Datos de Contacto</h2>
      <form [formGroup]="nameFormGroup">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" formControlName="nameCtrl" required>
        </mat-form-field>
      </form>
      <form [formGroup]="apellidosFormGroup">
        <mat-form-field>
          <mat-label>Apellidos</mat-label>
          <input matInput placeholder="Apellidos" formControlName="apellidosCtrl" required>
        </mat-form-field>
      </form>
      <form [formGroup]="emailFormGroup">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="emailCtrl" placeholder="Email" required>
        </mat-form-field>
      </form>
      <form [formGroup]="telefonoFormGroup">
        <mat-form-field>
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="telefonoCtrl" placeholder="Ex. 12345678" required>
        </mat-form-field>
      </form>
      <form [formGroup]="comentarioFormGroup">
        <mat-form-field>
          <mat-label>Comentarios</mat-label>
          <input matInput formControlName="comentarioCtrl" placeholder="Comentarios">
        </mat-form-field>
      </form>
      <div class="button-container">
        <button class="cancelar-button" (click)="retrocederPaso()">Atrás</button>
        <button class="confirmar-button" (click)="avanzarPaso()">Siguiente</button>
      </div>
    </div>

    <!-- Confirmar Reserva -->
    <div *ngIf="pasoActual === 5">
      <h2 class="text-lg font-semibold leading-6 text-gray-900 mb-4">Confirmar Reserva</h2>
      <p class="mb-2"><strong>Personas:</strong> {{ cantidadSeleccionada }}</p>
      <p class="mb-2"><strong>Fecha:</strong> {{ fechaSeleccionada | date: 'fullDate' }}</p>
      <p class="mb-2"><strong>Tipo de Comida:</strong> {{ tipoComidaSeleccionada }}</p>
      <p class="mb-2"><strong>Horario:</strong> {{ horarioSeleccionado }}</p>
      <p class="mb-2"><strong>Nombre:</strong> {{ nameFormGroup.get('nameCtrl')?.value }}</p>
      <p class="mb-2"><strong>Apellidos:</strong> {{ apellidosFormGroup.get('apellidosCtrl')?.value }}</p>
      <p class="mb-2"><strong>Email:</strong> {{ emailFormGroup.get('emailCtrl')?.value }}</p>
      <p class="mb-2"><strong>Teléfono:</strong> {{ telefonoFormGroup.get('telefonoCtrl')?.value }}</p>
      <p class="mb-4"><strong>Comentarios:</strong> {{ comentarioFormGroup.get('comentarioCtrl')?.value }}</p>

      <div class="button-container">
        <button class="cancelar-button" (click)="reiniciarFormulario()">Cancelar</button>
        <button class="confirmar-button" (click)="adicionarReserva()">Confirmar Reserva</button>
      </div>
    </div>
  </div>
</div>

