.container {
  background-color: white
}

.reservas-resumen {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #f7dddd;
  margin-top: 20px;
}
.estadisticas-clientes {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #dbd9d9;
  margin-top: 20px;
}
.notificaciones {
  border: 1px solid #ffcc00;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff3cd;
  margin-top: 20px;
}


@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .estadisticas-clientes,
  .reservas-resumen,
  .notificaciones {
    padding: 15px;
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  ul {
    font-size: 0.9rem;
  }
}


@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
  }

  .estadisticas-clientes,
  .reservas-resumen,
  .notificaciones {
    padding: 10px;
    font-size: 0.8rem;
    margin-top: 15px;
  }

  h2 {
    font-size: 1rem;
  }

  ul {
    font-size: 0.8rem;
  }
}
