
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #E26539;
  color: #FFFFFF;
}

.logo {
  height: 100px;
  width: 150px; /* Ajusta el tamaño de la imagen */
}
