
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #E26539;
  color: #FFFFFF;
}

.logo {
  height: 100px;
  width: 150px; /* Ajusta el tamaño de la imagen */
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 24px;
}

nav a:hover {
  color: white;
}


main {
  padding: 40px;
  background-color: #EFDECA;
}

.welcome {
  text-align: center;
  margin-bottom: 40px;
  background-color: #F3E3CD;
  padding: 20px;
  border-radius: 10px;
}

.welcome a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #E26539;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.gallery {
  text-align: center;
  margin-bottom: 40px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery-grid img {
  width: 100%;
  border-radius: 10px;
}


.featured-menu {
  text-align: center;
  margin-bottom: 40px;
}

.menu-items {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.menu-item {
  width: 45%;
}

.menu-item img {
  width: 100%;
  border-radius: 10px;
}


.reservation {
  text-align: center;
  margin-bottom: 40px;
  padding: 60px;
}

.reservation button {
  padding: 10px 20px;
  background-color: #E26539;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.reservation button:hover {
  background-color: #E26337;
}


footer {
  background-color: #E26539;
  color: white;
  text-align: center;
  padding: 20px;
}


.gallery img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.reservas-popup {
  text-align: center;
  margin-bottom: 40px;
  padding: 60px;
}

.reservas-popup button {
  padding: 10px 20px;
  background-color: #E26539;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.reservas-popup button:hover {
  background-color: #E26337;
}

/* TRABAJANDO EN POPUP

.reservas-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 40px auto;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  max-width: 400px;
  color: white;
}

.reservas-popup button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #E26539;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reservas-popup button:hover {
  background-color: #E26337;
} */

.featured-menu {
  text-align: center;
}

.featured-menu .menu-items {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espacio entre los elementos del menú */
}

.featured-menu .menu-item {
  text-align: center;
  max-width: 400px; /* Ajusta el ancho máximo de cada elemento del menú */
}

.featured-menu .menu-item img {
  width: 400px;  /* Ajusta este valor según tus necesidades */
  height: 400px; /* Ajusta este valor según tus necesidades */
  object-fit: cover; /* Mantiene la proporción de la imagen, recortando si es necesario */
  border-radius: 8px; /* Opcional: para redondear las esquinas de las imágenes */

}



.hero {
  position: relative;
  text-align: center;
  color: #fff;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
}

.hero-content button {
  background-color: #f28582;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.hero-content button:hover {
  background-color: #f6c9c3;
}
