
<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100 p-6">
  <div class="bg-white rounded-lg shadow-lg p-8 max-w-3xl w-full">
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">Detalles de la Reservación</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-4">
      <div class="flex justify-between border-b pb-2">
        <span class="font-semibold text-gray-700">ID de Reservación:</span>
        <span class="text-gray-600">{{reservas?.id}}</span>
      </div>
      <div class="flex justify-between border-b pb-2">
        <span class="font-semibold text-gray-700">Email:</span>
        <span class="text-gray-600">{{reservas?.email}}</span>
      </div>
      <div class="flex justify-between border-b pb-2">
        <span class="font-semibold text-gray-700">Nombre:</span>
        <span class="text-gray-600">{{reservas?.nombre}}</span>
      </div>
      <div class="flex justify-between border-b pb-2">
        <span class="font-semibold text-gray-700">Apellido:</span>
        <span class="text-gray-600">{{reservas?.apellidos}}</span>
      </div>
      <div class="flex justify-between border-b pb-2">
        <span class="font-semibold text-gray-700">Teléfono:</span>
        <span class="text-gray-600">{{reservas?.telefono}}</span>
      </div>
      <div class="flex justify-between border-b pb-2">
        <span class="font-semibold text-gray-700">Tipo de Comida:</span>
        <span class="text-gray-600">{{reservas?.tipo_comida}}</span>
      </div>
      <div class="flex justify-between border-b pb-2">
        <span class="font-semibold text-gray-700">Horario de Reserva:</span>
        <span class="text-gray-600">{{reservas?.horario}}</span>
      </div>
      <div class="flex justify-between">
        <span class="font-semibold text-gray-700">Observaciones:</span>
        <span class="text-gray-600">{{reservas?.observaciones}}</span>
      </div>
    </div>

    <div class="flex justify-between mt-6">
      <button (click)="openEditDialog(reservas!)" class="bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-500 transition">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
          <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
        </svg>
      </button>
      <button (click)="deleteReserva(reservas!)" class="bg-red-600 text-white py-2 px-4 rounded-lg hover:bg-red-500 transition">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </div>

  <!-- Ventana Modal -->
<div class="modal fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50" *ngIf="isModalOpen">
  <div class="modal-content bg-white rounded-lg shadow-lg p-8 max-w-md w-full">

    <form (ngSubmit)="onSubmitEdit()" [formGroup]="editForm">
      <div class="mb-4">
        <label for="nombre" class="block text-gray-700">Nombre:</label>
        <input id="nombre" type="text" formControlName="nombre" class="form-input mt-1 block w-full" required>
      </div>

      <div class="mb-4">
        <label for="apellidos" class="block text-gray-700">Apellido:</label>
        <input id="apellidos" type="text" formControlName="apellidos" class="form-input mt-1 block w-full" required>
      </div>

      <div class="mb-4">
        <label for="email" class="block text-gray-700">Email:</label>
        <input id="email" type="email" formControlName="email" class="form-input mt-1 block w-full" required>
      </div>

      <div class="mb-4">
        <label for="telefono" class="block text-gray-700">Teléfono:</label>
        <input id="telefono" type="text" formControlName="telefono" class="form-input mt-1 block w-full" required>
      </div>

      <div class="mb-4">
        <label for="tipo_comida" class="block text-gray-700">Tipo de Comida:</label>
        <input id="tipo_comida" type="text" formControlName="tipo_comida" class="form-input mt-1 block w-full" required>
      </div>

      <div class="mb-4">
        <label for="horario" class="block text-gray-700">Horario de Reserva:</label>
        <input id="horario" type="text" formControlName="horario" class="form-input mt-1 block w-full" required>
      </div>

      <div class="mb-4">
        <label for="observaciones" class="block text-gray-700">Observaciones:</label>
        <textarea id="observaciones" formControlName="observaciones" class="form-input mt-1 block w-full" rows="3"></textarea>
      </div>

      <div class="flex justify-between mt-6">
        <button type="submit" class="bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-500 transition">Guardar Cambios</button>
        <button type="button" (click)="closeModal()" class="bg-gray-300 text-gray-700 py-2 px-4 rounded-lg hover:bg-gray-200 transition">Cancelar</button>
      </div>
    </form>
  </div>
</div>

</div>
