@import 'tailwindcss/tailwind.css';


.logo {
  height: 200px;
  width: 200px;
}

body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
}


a {
  color: #00bcd4;
  text-decoration: none;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 1px solid transparent;
}

a:hover {
  color: #82e9de;
  border-bottom: 1px solid #82e9de;
}


button {
  background-color: #e66f44;
  color: #121212;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #eb8865;
  transform: scale(1.05);
}


.card {
  background-color: #1e1e1e;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}


input, textarea {
  background-color: #1e1e1e;
  border: 1px solid #555;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
  border-color: #00bcd4;
}

.select, .checkbox, .radio {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

