/* roles.component.css */
.role-form-container {
  max-width: 500px;
  margin: 20px auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

button {
  padding: 10px;
  background-color: #e66f44;
  color: white;
  border: none;
  cursor: pointer;
}

button[disabled] {
  background-color: #ccc;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

button {
  margin-right: 5px;
}

.head{
  background-color: #ed794e;
  color: white
}
