
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">

    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Reservaciones</h2>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
          <input
          type="text"
          class="form-control"
          name="searchTerm"
          placeholder="Buscar..."
          [(ngModel)]="searchTerm"
          (ngModelChange)="filter($event)"
        >
      </div>
    </div>
  </div> <br><br>

  <app-reserva-nueva *ngFor="let reserva of filteredReservas" [reservas]="reserva"></app-reserva-nueva>

