.cancel-reservation-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

}

.container{
  background-image: url('https://wallpaperaccess.com/full/767277.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h2 {
  color: #1f2937;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: 600;
  color: #4b5563;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #6366f1;
  outline: none;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #E26539;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #4f46e5;
}

.success {
  color: #28a745; /
}

.error {
  color: #dc3545;
}



.confirmar-button {
  background-color: #E26539;
  color: white;
  border: 1px solid #E26539;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.confirmar-button:hover {
  background-color: #eb8865;
}
