.cancel-reservation-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

}

.container{
  background-image: url('https://wallpaperaccess.com/full/767277.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h2 {
  color: #1f2937; /* Color del texto */
}

.form-group {
  margin-bottom: 15px; /* Espacio entre campos del formulario */
}

label {
  display: block; /* Ocupa todo el ancho */
  font-weight: 600; /* Negrita para las etiquetas */
  color: #4b5563; /* Color del texto de las etiquetas */
  margin-bottom: 5px; /* Espacio debajo de la etiqueta */
}

input {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  padding: 10px; /* Espaciado interno */
  border: 1px solid #d1d5db; /* Borde gris claro */
  border-radius: 4px; /* Bordes redondeados */
  transition: border-color 0.3s; /* Transición suave para el borde */
}

input:focus {
  border-color: #6366f1; /* Borde azul al hacer foco */
  outline: none; /* Elimina el borde de enfoque predeterminado */
}

.submit-button {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  padding: 10px; /* Espaciado interno */
  background-color: #E26539; /* Color de fondo azul */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s; /* Transición suave para el fondo */
}

.submit-button:hover {
  background-color: #4f46e5; /* Color más oscuro al pasar por encima */
}

.success {
  color: #28a745; /* Verde para mensajes de éxito */
}

.error {
  color: #dc3545; /* Rojo para mensajes de error */
}



.confirmar-button {
  background-color: #E26539;
  color: white;
  border: 1px solid #E26539;
  width: 100%;
  padding: 10px;
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s; /* Transición suave para el fondo */
}

.confirmar-button:hover {
  background-color: #eb8865;
}
